<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Vroom² | Order Detail
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="red">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div style="text-align: center" class="logo">
        <img style="max-width: 60%" th:src="@{/img/vlogo.png}">
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="active ">
            <a href="/orders">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Order List</p>
            </a>
          </li>
          <li>
            <a href="/map">
              <i class="now-ui-icons location_map-big"></i>
              <p>Order Map</p>
            </a>
          </li>
          <li>
            <a href="/account/details">
              <i class="now-ui-icons users_single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent bg-primary navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
              <a class="navbar-brand" href="">Order Details</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li th:if="${user != null}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons users_single-02"></i>
                  <p th:text="${user.firstName}"></p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/account/details">Account</a>
                  <a class="dropdown-item text-danger" href="/account/login">Logout</a>
                </div>
              </li>
              <div th:unless="${user != null}" class="gem-points">
                <a href="/account/login"><i class="fas fa-sign-in-alt"></i><span> Login</span></a>
              </div>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

      <div class="panel-header panel-header-sm">
      </div>
      <div class="content" style="display: block;
  margin-left: auto;
  margin-right: auto;">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header" style="padding-left: 8%">
                  <h5 class="title"><i class="fas fa-shopping-cart" style="color: #2a5788"></i>   Order</h5>
              </div>
              <div class="card-body" style="padding-left: 10%">
                <div th:if="${msg != null}">
                  <span style="font-family: 'Leckerli One', cursive; font-size: 2vw; padding-left: 2%;color: darkred" th:text="${msg}"></span>
                </div>
                <tr th:if="${order != null}" th:each="o : ${order}">
                  <label style="font-weight: bold; color: #2a5788; font-size: medium;"><i class="fas fa-star-of-life"></i> Products: </label>
                  <div th:each="prods : ${o.products}">
                    <span th:text="${prods.name}" style="font-weight: bold; color: dodgerblue; font-size: medium;"></span> : <span th:text="${prods.qty}"></span>
                  </div>
                  <div> <label style="font-weight: bold; color: #2a5788; font-size: medium;"><i class="fas fa-star-of-life"></i> Shop: </label>   <span th:text="${o.shop}"></span></div>
                  <div>
                    <label style="font-weight: bold; color: #2a5788; font-size: medium;"><i class="fas fa-star-of-life"></i> Client Name: </label> <span th:text="${o.client}"></span>
                  </div>
                  <div>
                    <label style="font-weight: bold; color: #2a5788; font-size: medium;"><i class="fas fa-star-of-life"></i> Client Contact: </label> <span th:text="${o.clientContact}"> </span>
                  </div>
                  <div>
                    <label style="font-weight: bold; color: #2a5788; font-size: medium;"><i class="fas fa-star-of-life"></i> Client Address: </label> <span th:text="${o.address}"> </span>
                  </div>
                  <div>
                    <label style="font-weight: bold; color: #2a5788; font-size: medium;"><i class="fas fa-star-of-life"></i> Total: </label> <span th:text="${o.totalPrice}"> </span>
                  </div>
                  <div>
                    <label style="font-weight: bold; color: #2a5788; font-size: medium;"><i class="fas fa-star-of-life"></i> Date: </label> <span th:text="${o.date}"> </span>
                  </div>
                  <div>
                    <label style="font-weight: bold; color: #2a5788; font-size: medium;"><i class="fas fa-star-of-life"></i> Order Status: </label> <span th:text="${o.orderStatus}"> </span>
                  </div>
                </tr>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class=" container-fluid ">
          <nav>
            <ul>
              <li>
                <a>
                  Vroom²
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy; <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
          </script> <a>TQS_Project1</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/orders.js"></script>
  <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="/demo/demo.js"></script>
</body>

</html>