<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Vroom² | User Profile
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/demo/demo.css" rel="stylesheet" />
</head>

<body class="user-profile">
  <div class="wrapper ">
    <div class="sidebar" data-color="red">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div style="text-align: center" class="logo">
        <img style="max-width: 60%" src="/img/vlogo.png">
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/orders">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Order List</p>
            </a>
          </li>
          <li>
            <a href="/map">
              <i class="now-ui-icons location_map-big"></i>
              <p>Order Map</p>
            </a>
          </li>
          <li class="active ">
            <a href="/account/details">
              <i class="now-ui-icons users_single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent bg-primary navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="">User Profile</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li th:if="${user != null}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons users_single-02"></i>
                  <p th:text="${user.firstName}"></p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/account/details">Account</a>
                  <a class="dropdown-item text-danger" href="/account/login">Logout</a>
                </div>
              </li>
              <div th:unless="${user != null}" class="gem-points">
                <a href="/account/login"><i class="fas fa-sign-in-alt"></i><span> Login</span></a>
              </div>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Edit Profile</h5>
              </div>
              <div class="card-body" th:if="${user != null}">
                <form>
                  <div class="row">
                    <input id="user_id" hidden disabled th:value="${user.id}">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" disabled="" placeholder="Company" value="Vroom²">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" disabled id="user_email" class="form-control" placeholder="Email" th:value="${user.email}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" id="user_first" class="form-control" placeholder="First Name" th:value="${user.firstName}">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" id="user_last" class="form-control" placeholder="Last Name" th:value="${user.lastName}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" id="user_phone" class="form-control" placeholder="Phone Number" th:value="${user.phoneNumber}">
                      </div>
                    </div>
                    <div class="col-md-3 pl-1">
                      <div class="form-group" style="padding-top: 5%; padding-left: 5%">
                        <button class="btn btn-info" style="color: white" onclick="updateUser()" >Save Changes</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                <img th:src="@{/img/bg5.jpg}">
              </div>
              <div class="card-body">
                <div class="author">
                  <a>
                    <img class="avatar border-gray" th:src="@{/img/mike.jpg}">
                    <h5 class="title" th:text="${user.firstName} + ' ' + ${user.lastName}"></h5>
                  </a>
                  <h6 style="text-align: center"> Current Location </h6>
                  <p>Lat: <span th:text="${#numbers.formatDecimal(user.latitude, 0, 2, 'POINT')}"></span>     Long: <span th:text="${#numbers.formatDecimal(user.longitude, 0, 2, 'POINT')}"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-primary" role="alert" id="msg" style="display: none">
      </div>
      <footer class="footer">
        <div class=" container-fluid ">
          <nav>
            <ul>
              <li>
                <a>
                  Vroom²
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy; <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
          </script> <a>TQS_Project1</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="/demo/demo.js"></script>
  <script th:inline="javascript">
    let rider = [[${user}]]
    function updateUser(){
      let formData = {
        id : $("#user_id").val(),
        email : $("#user_email").val(),
        firstName : $("#user_first").val(),
        lastName : $("#user_last").val(),
        phoneNumber : $("#user_phone").val(),
        password: rider.password,
        latitude: rider.latitude,
        longitude: rider.longitude,
      }

      $.ajax({
        type: "PUT",
        contentType: "application/json",
        url: "/api/account",
        async: false,
        data: JSON.stringify(formData),
        success: function (result) {
          console.log(result);
          $('#msg').text("Account updated successfully!");
          $('#msg').fadeIn().delay(3000).fadeOut();
        },
        error: function (e) {
          console.log("ERROR: ", e);
          $('#msg').text("Error: could not updated account data.");
          $('#msg').fadeIn().delay(3000).fadeOut();
        }
      });
    }
  </script>
</body>

</html>